<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        ADMIN
        <%= data.appName %>
    </title>
    <link href="/public/images/UNH.png" rel="icon"> 
    <script src="//unpkg.com/alpinejs" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <%- include("../../components/header.ejs") %>
</head>

<body id="page-top" x-data="alpineInit(<%= JSON.stringify(data.book) %>)">
    <div id="wrapper">
        <%- include("../../components/ui/sidebar.ejs") %>

            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <%- include ("../../components/ui/nav.ejs", { user: data.user }) %>

                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <h1 class="h3 mb-2 text-gray-800">Ubah Data Buku</h1>
                            <p class="mb-4">Ubah data buku</p>

                            <!-- DataTales Example -->
                            <div class="card shadow mb-4 p-4">

                                <form @submit.prevent="submit">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="mb-3">
                                                <label for="judul" class="form-label">Judul Buku</label>
                                                <input type="text" x-model="data.judul" class="form-control" id="judul" placeholder="Judul buku...">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="mb-3">
                                                <label for="penulis" class="form-label">Penulis</label>
                                                <input type="text" x-model="data.penulis" class="form-control" id="penulis" placeholder="Masukkan penulis buku">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="mb-3">
                                                <label for="tahun" class="form-label">Tahun</label>
                                                <input type="number" x-model="data.tahun" class="form-control" id="tahun" placeholder="Masukkan tahun terbit buku...">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="mb-3">
                                                <label for="kategori" class="form-label">Kategori</label>
                                                <input type="text" x-model="data.kategori" class="form-control" id="kategori" placeholder="Masukkan kategori buku, contoh: Technology, Sience, dll.">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="mb-3">
                                                <label for="link" class="form-label">Link</label>
                                                <input type="text" x-model="data.link" class="form-control" id="link" placeholder="Masukkan link buku, contoh: http://www.google.com">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="mb-3">
                                                <label for="stock" class="form-label">Stock</label>
                                                <input type="number" x-model="data.stock" class="form-control" id="stock" placeholder="Contoh: 20">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="mb-3">
                                                <label for="deskripsi" class="form-label">Deskripsi</label>
                                                <textarea type="text" x-model="data.deskripsi" class="form-control" id="deskripsi" placeholder="Masukkan deskripsi buku..."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
            </div>

            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
            <%- include("../../components/footer-js.ejs") %>

                <script>
                    function alpineInit(book) {
                        return {
                            data: {
                                id: book.id,
                                judul: book.judul,
                                penulis: book.penulis,
                                tahun: book.tahun,
                                kategori: book.kategori,
                                link: book.link,
                                stock: book.stock,
                                deskripsi: book.deskripsi,
                            },
                            async submit() {
                                try {
                                    const {
                                        id,
                                        ...values
                                    } = this.data
                                    const request = await fetch(`/admin/buku/${id}`, {
                                        method: 'PUT',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify(values)
                                    });
                                    const response = await request.json();
                                    Toastify({
                                        text: response.message,
                                        duration: 2000,
                                        gravity: "bottom",
                                        position: "right",
                                        style: {
                                            background: response.status === 200 ? '#1cc88a' : '#e74a3b',
                                        },
                                    }).showToast();
                                    if (response.status === 200) setTimeout(() => window.location = '/admin/skripsi', 1500);
                                } catch (error) {
                                    Toastify({
                                        text: 'Terjadi kesalahan pada server, error: ' + error.message,
                                        duration: 1600,
                                        gravity: "bottom",
                                        position: "right",
                                        style: {
                                            background: '#e74a3b',
                                        },
                                    }).showToast();
                                    return;
                                }
                            },
                            async logout() {
                                try {
                                    const request = await fetch('/logout', {
                                        method: 'POST',
                                        headers: {
                                            'Content-type': 'application/json'
                                        },
                                    })
                                    const response = await request.json()
                                    Toastify({
                                        text: response.message,
                                        duration: 2000,
                                        gravity: "bottom",
                                        position: "right",
                                        style: {
                                            background: response.status === 200 ? '#1cc88a' : '#e74a3b',
                                        },
                                    }).showToast();
                                    if (response.status === 200) setTimeout(() => window.location.reload(), 1500)
                                } catch (error) {
                                    Toastify({
                                        text: 'Terjadi kesalahan pada server, error: ' + error.message,
                                        duration: 1600,
                                        gravity: "bottom",
                                        position: "right",
                                        style: {
                                            background: '#e74a3b',
                                        },
                                    }).showToast();
                                    return;
                                }
                            },
                        }
                    }
                </script>
</body>

</html>