<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ADMIN
        <%= data.appName %>
    </title>
    <link href="/public/images/UNH.png" rel="icon">
    <script src="//unpkg.com/alpinejs" defer></script>
    <%- include ("../../components/header.ejs") %>
</head>

<body id="page-top" x-data="alpineInit()">
    <div id="wrapper">
        <%- include ("../../components/ui/sidebar.ejs") %>

            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <%- include ("../../components/ui/nav.ejs", { user: data.user }) %>

                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <h1 class="h3 mb-2 text-gray-800">Data Admin</h1>
                            <p class="mb-4">Tabel admin perpustakaan</p>

                            <!-- DataTales Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 d-flex justify-content-end">
                                    <a href="/admin/pengguna/add" class="btn btn-primary">Tambah Data Admin</a>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Email</th>
                                                    <th>Nama</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Email</th>
                                                    <th>Nama</th>
                                                    <th>Action</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                <% if (data.pengguna.length === 0) { %>
                                                    <tr>
                                                        <td colspan="8" class="text-center">Tidak ada data admin yang tersedia.
                                                        </td>
                                                    </tr>
                                                    <% } else {%>
                                                        <% data.pengguna.map(pngn=> { %>
                                                            <% if (pngn.email==='admin@gmail.com' ) return; %>
                                                                <tr>
                                                                    <td>
                                                                        <%= pngn.id %>
                                                                    </td>
                                                                    <td>
                                                                        <%= pngn.email %>
                                                                    </td>
                                                                    <td>
                                                                        <%= pngn.name %>
                                                                    </td>
                                                                    <td>
                                                                        <a href="/admin/pengguna/<%= pngn.id %>" class="btn btn-sm btn-warning">Edit</a>
                                                                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete<%= pngn.id %>">
                                                                        Hapus
                                                                    </button>
                                                                    </td>
                                                                    <div class="modal fade" id="delete<%= pngn.id %>" tabindex="-1" role="dialog" aria-labelledby="delete<%= pngn.id %>Label" aria-hidden="true">
                                                                        <div class="modal-dialog" role="document">
                                                                            <div class="modal-content">
                                                                                <div class="modal-body">
                                                                                    <p>Apakah anda yakin untuk menghapus data admin dengan email
                                                                                        <b>
                                                                                        <%= pngn.email %>
                                                                                    </b>?
                                                                                    </p>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                                                                                    <button type="button" @click="hapus('<%= pngn.id %>')" class="btn btn-sm btn-danger">Hapus</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </tr>
                                                                <% }) %>
                                                                    <% }%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>
            <%- include ("../../components/footer-js.ejs") %>

                <script>
                    function alpineInit() {
                        return {
                            async hapus(id) {
                                try {
                                    const request = await fetch(`/admin/pengguna/${id}`, {
                                        method: 'DELETE',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        }
                                    })
                                    const response = await request.json();
                                    Toastify({
                                        text: response.message,
                                        duration: 2000,
                                        gravity: "bottom",
                                        position: "right",
                                        style: {
                                            background: response.status === 200 ? '#1cc88a' : '#e74a3b',
                                        },
                                    }).showToast();
                                    if (response.status === 200) setTimeout(() => window.location.reload(), 1500)
                                } catch (error) {
                                    Toastify({
                                        text: 'Terjadi kesalahan pada server',
                                        duration: 1600,
                                        gravity: "bottom",
                                        position: "right",
                                        style: {
                                            background: '#e74a3b',
                                        },
                                    }).showToast();
                                }
                            },
                            async logout() {
                                try {
                                    const request = await fetch('/logout', {
                                        method: 'POST',
                                        headers: {
                                            'Content-type': 'application/json'
                                        },
                                    })
                                    const response = await request.json()
                                    Toastify({
                                        text: response.message,
                                        duration: 2000,
                                        gravity: "bottom",
                                        position: "right",
                                        style: {
                                            background: response.status === 200 ? '#1cc88a' : '#e74a3b',
                                        },
                                    }).showToast();
                                    if (response.status === 200) setTimeout(() => window.location.reload(), 1500)
                                } catch (error) {
                                    Toastify({
                                        text: 'Terjadi kesalahan pada server, error: ' + error.message,
                                        duration: 1600,
                                        gravity: "bottom",
                                        position: "right",
                                        style: {
                                            background: '#e74a3b',
                                        },
                                    }).showToast();
                                    return;
                                }
                            }
                        }
                    }
                </script>
</body>

</html>