<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        ADMIN
        <%= data.appName %>
    </title>
    <link href="/public/images/UNH.png" rel="icon">
    <script src="//unpkg.com/alpinejs" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <%- include ("../../components/header.ejs") %>
</head>

<body id="page-top" x-data="alpineInit()">
    <div id="wrapper">
        <%- include ("../../components/ui/sidebar.ejs") %>

            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <%- include ("../../components/ui/nav.ejs", { user: data.user }) %>

                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <h1 class="h3 mb-2 text-gray-800">Tambah Admin</h1>
                            <p class="mb-4">Tambah data admin</p>

                            <!-- DataTales Example -->
                            <div class="card shadow mb-4 p-4">

                                <form @submit.prevent="submit">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="mb-3">
                                                <label for="email" class="form-label">Email</label>
                                                <input type="email" x-model="data.email" class="form-control" id="email" placeholder="Masukkan email pengguna">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="mb-3">
                                                <label for="password" class="form-label">Password</label>
                                                <input type="password" x-model="data.password" class="form-control" id="password" placeholder="Masukkan password pengguna">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Nama</label>
                                                <input type="text" x-model="data.name" class="form-control" id="name" placeholder="Masukkan nama pengguna">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary">Tambah</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
            </div>

            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
            <%- include("../../components/footer-js.ejs") %>

                <script>
                    function alpineInit() {
                        return {
                            data: {
                                email: '',
                                password: '',
                                name: '',
                            },
                            async submit() {
                                try {
                                    const request = await fetch('/admin/pengguna/add', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify(this.data)
                                    });
                                    const response = await request.json();
                                    Toastify({
                                        text: response.message,
                                        duration: 2000,
                                        gravity: "bottom",
                                        position: "right",
                                        style: {
                                            background: response.status === 201 ? '#1cc88a' : '#e74a3b',
                                        },
                                    }).showToast();
                                    if (response.status === 201) setTimeout(() => window.location.href = '/admin/pengguna', 1500);
                                } catch (error) {
                                    Toastify({
                                        text: 'Terjadi kesalahan pada server',
                                        duration: 1600,
                                        gravity: "bottom",
                                        position: "right",
                                        style: {
                                            background: '#e74a3b',
                                        },
                                    }).showToast();
                                    return;
                                }
                            },
                            async logout() {
                                try {
                                    const request = await fetch('/logout', {
                                        method: 'POST',
                                        headers: {
                                            'Content-type': 'application/json'
                                        },
                                    })
                                    const response = await request.json()
                                    Toastify({
                                        text: response.message,
                                        duration: 2000,
                                        gravity: "bottom",
                                        position: "right",
                                        style: {
                                            background: response.status === 200 ? '#1cc88a' : '#e74a3b',
                                        },
                                    }).showToast();
                                    if (response.status === 200) setTimeout(() => window.location.reload(), 1500)
                                } catch (error) {
                                    Toastify({
                                        text: 'Terjadi kesalahan pada server, error: ' + error.message,
                                        duration: 1600,
                                        gravity: "bottom",
                                        position: "right",
                                        style: {
                                            background: '#e74a3b',
                                        },
                                    }).showToast();
                                    return;
                                }
                            },
                        }
                    }
                </script>
</body>

</html>